.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.prompt {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  /* padding-bottom: 1rem; */
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .prompt {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  }
}


.image {
  zoom: 0.3;
  border-radius: 0.5rem;
}


.other {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  font-weight: 600;
  padding: 0.8rem 0rem;
  background-color: #f5f5f5;
  position: relative;
}

.others {
  max-height: 120px;
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.otherKey {
  margin-left: 2rem;
}

.otherValue {
  /* padding-right: -2rem; */
  /* margin-right: 2rem; */
  color: #999;
}